.dashboard-tile {
  height: 100%;
}
.dashboard-icon {
  text-align: right;
}

.ant-card .ant-card-actions {
  border-top: 0px solid #f0f0f0;
}

.ant-card .ant-card-actions > li {
  margin: 0px
}

.ant-card .ant-card-head {
  border-bottom: 0px solid white;
}